{% extends 'base_generic.html' %}

 
{% block content %}
<h1>Unreal Futbol</h1>

  <p>Welcome to <em>Unreal Futbol</em>, Django website </p>

  <h1>Olvidaste tu contraseña?</h1>
  <p>Ingresar tu dirección de email aquí abajo, y te enviaremos instrucciones para generar una nueva.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Enviarme instrucciones!" class="btn btn-primary btn-md"> <a href="{% url 'login' %}" target="_self" class="btn btn-primary btn-md">Atrás</a>
  </form>
{% endblock %}